body{
    background-color: rgb(0, 80, 90);
}
#Page{
    width: 1200px;
    height: 1000px;
    background-color: rgb(190, 190, 190);
    margin: 0 auto;
    
}
#top{
   width: 1200px;
   min-height: 100px;
   background-color: rgb(0, 0, 0);
}
#navi{
    width: 1200px;
    min-height: 5px;
    background-color: rgb(190, 190, 190);
 }
 #content{
    width: 1200px;
    min-height: 25px;
    background-color: rgb(190, 190, 190);
 }
 .navButton{
    width: 280px;
    text-align: center;
    font-size: 16pt;
    height: 25px;
    text-transform: uppercase;
    line-height: 1.3;
    background-color: rgb(207, 172, 252);
    margin-left: 1px;
    float: left;

 }
 .navButton:hover{
    background-color: #000000;
    color: #ff00ea;
}
 
 ul{
    list-style: none;
    margin: 0px;
 }
 @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

 svg {
     font-family: "Russo One", sans-serif;
     width: 100%; height: 100%;
 }
 svg text {
     animation: stroke 5s infinite alternate;
     stroke-width: 2;
     stroke: #365fa0;
     font-size: 100px;
 }
 @keyframes stroke {
     0%   {
         fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
         stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
     }
     70%  {fill: rgba(72,138,204,0); stroke: rgb(126, 19, 197); }
     80%  {fill: rgba(72,138,204,0); stroke: rgb(160, 54, 128); stroke-width: 3; }
     100% {
         fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
         stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
     }
 }
 
 .wrapper {background-color: #000000};
 a.visited{
    color: #ffffff;
 }
 #selected.navButton{
    background-color: #ff00dd;
    color: #000000;
}
.login{
    position: relative;
    width: 320px;
    height: 250px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 200px;
    
}
.login input{
    padding: 10px;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 7px;
    
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #f80ba9;
	background:linear-gradient(to bottom, #ff0cc2 5%, #fa06c5 100%);
	background-color:#9b2988;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin-top: 5px;
    margin-left: 7px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6e056e 5%, #632df9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

